
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="UTF-8">
    <title>ỨNG DỤNG QUẢN LÝ SÁCH</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1>TRANG CHỦ ỨNG DỤNG QUẢN LÝ SÁCH</h1>
                <br>
                BẠN MUỐN MUA SÁCH
                <br>
                HÃY ĐẾN VỚI CHÚNG TÔI
                <br>
                SINCE 2020

            </a>
        </div>
    </nav>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>